body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

h1{
margin:20px;
}

#search{

width:60%;
padding:12px;
border-radius:10px;
border:none;
font-size:18px;

}

#dropzone{

margin:20px auto;

width:60%;

border:2px dashed #555;

padding:30px;

border-radius:15px;

}

#soundboard{

display:grid;

grid-template-columns:repeat(auto-fill,150px);

gap:15px;

justify-content:center;

padding:20px;

}

.sound{

background:#ff3c3c;

border:none;

padding:20px;

border-radius:10px;

cursor:pointer;

color:white;

font-size:16px;

}

.sound:hover{

background:#ff6666;

}